<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Sample App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Help", help_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About us", about_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
        <div class="btn-group loginPanel" role="group" aria-label="Buttons">
          <% if logged_in? %>
            <%= button_to "Profile", current_user, method: "get", class:"btn btn-success" %>
            <%= button_to "Settings", root_path, class:"btn btn-secondary" %>
            <%= button_to "Logout", logout_path, class:"btn btn-danger", method: :delete %>
            <%else %>
            <%= button_to "Log in", login_path, method: "get", class:"btn btn-success" %>
            <%= button_to "Sign up", signup_path, method: "get", class:"btn btn-info" %>
            <% end %>
        </div>
    </ul>
  </div>
  </div>
</nav>